<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dbServlet</servlet-name>
        <servlet-class>sevletData.dbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>sevletData.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>sevletData.ProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employedServlet</servlet-name>
        <servlet-class>sevletData.employedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>sevletData.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>sevletData.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salesServlet</servlet-name>
        <servlet-class>sevletData.salesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbServlet</servlet-name>
        <url-pattern>/dbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employedServlet</servlet-name>
        <url-pattern>/employedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salesServlet</servlet-name>
        <url-pattern>/salesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
